@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:300,400,500,600,800&display=swap');



/*
WHITE SPACES AND PAGE STYLING
*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


/*
COLOURS
*/

.bg-color-alert,
.bg-color-nav,
.bg-color-footer {
    background-color: #090b0e;
}

.bg-color-home,
.bg-color-testimonials,
.bg-color-contact,
.bg-color-form {
    background-color: #e2d9e4;

}

.bg-color-about,
.bg-color-gallery {
    background-color: #f8f1f9;
}

/*
BUTTONS
*/

.btn {
    font-weight: 600;
    vertical-align: middle;
    margin-top: 5px;
    background-color: #ac9eb2;
}


.btn-book {
    font-size: .75rem;
}

.btn-contact {
    font-size: 1rem;
}


.btn-link:hover {
    color: #323038;
    text-decoration: none;
    cursor: pointer;
}



/*
HEADINGS
*/

h1,
h2,
h3,
h4,
h5,
h5 .section-heading {
    margin: 20px 0 10px;
    padding: 10px 0;
    font-weight: 600;
}


.secondary {
    font-weight: 300;
}

/*
ALERT
*/

.alert {

    position: relative;
    padding: .25rem 0;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0;
}


.news {
    color: #f8f1f9;
    margin: .5rem 0;
}


/*
NAV
*/

.sticky {
    position: sticky;
    position: -webkit-sticky; /* from auto-p */
    top: 0;
    bottom: 0;
    z-index: 5;

}


.navbar-dark,
.navbar-nav,
.nav-link,
.navbar-toggler,
.navbar-toggler-icon {
    color: #f8f1f9;
}

.navbar-dark,
.navbar-toggler,
.navbar-toggler-icon{
    border-color: #f8f1f9;
}

button:focus {
    outline: 1px solid;
    outline: 5px auto;
}



/*
SECTIONS
*/

.home,
.gallery,
.testimonials,
.about {
    padding-bottom: 30px;
}

.carousel-images{
    border-radius: 10px;
}
.gallery .lead {
    font-family: 'Raleway', sans-serif;
    margin-top: 20px;
    font-weight: 300;
}


.testimonials .card {
    margin: 10px 0;
    padding: 10px;
}


testimonials .card-header {
    font-family: 'Raleway', sans-serif;
    font-size: .75rem;
}


.testimonials .card .blockquote {
    font-weight: 600;
}

.about-bio p{
    display: block;
    margin-top: 20px;
    
}


/*
CONTACT FORM
*/

.bot-field {
    visibility: hidden;
}


/*FOOTER*/


.copyright {
    font-size: 8px;
    color: #605d65;
}

.footer-icons li a i {
    width: 32px;
    height: 32px;
    padding: 8px 4px;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    background-color: #7d7d89;
    color: #f8f1f9;
    transition: all 0.35s ease-in-out;
}

.footer-icons li a i:hover {
    background-color: #605d65;
}


